/* Main CSS
Нужна правильна организация стилей 
*/

/*{padding: 0; margin: 0;}/**/

body {
	font-size: 14pt;
	padding: 0;
	margin: 0;
	background: #ffefcf;
	font-family: times new roman;
	/* Для организации подвала */
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	/**/
}

.header{
	background: #ffae18;
	display: block; 
	border-bottom: 2px solid #000000;
}

.main {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10%;
	margin-right: 10%;
	flex: 1; /* Для организации подвала */
	
}

.footer{
	height: 100px;
	background: #C4C4C4;
	border-top: 2px solid #000000;
	font-size: 10pt;
	padding: 10px;
	padding-bottom: 0;
}

.headline{
	margin: 10px;
}
.headline p {
	
	font-size: 200%;
	margin: 0;
}
.headline img{
	width: 40pt;
	border-radius: 20px;
	vertical-align: middle;
}



.head-menu{
	margin: 10px;
	padding-left: 20px;
	background: #E79144;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	display: block;
	list-style: none;
	
}
.head-menu a {
	color: #000000; 
	padding: 10px;
	text-decoration: none; /* Убираем подчёркивание */
	display: block; /* Блочная ссылка*/
	text-align: center;
	min-width:80px;
}
.head-menu a:hover {
	color: #FFFFFF;
    background: #2c3e50;
	
}
.head-menu li{
	margin-left: 1px;
	margin-right: 1px;
	position: relative;
	list-style: none;
	display: inline-block; /* Пункты меню по горизонтали */
}
.head-menu > li .submenu{
	display: none;
}
.head-menu > li:hover .submenu{
	display: block;
	padding: 0;
    padding-bottom: 10px;
	border-radius: 0 0 10px 10px;
	position: absolute;
    cursor: pointer;
	color: red;
	background: #dd9141;
}



.footer-info{
	padding: 5px;
	text-align: left;	
}
.footer-info ul{margin: 0;}

.main-text{
	font-size: 24px;
	line-height: 28px;
	font-family: times new roman;
	font-style: normal;
	font-weight: normal;
}

.focus-block{
	border-radius: 20px;
	background: #fffbf6;
	border: 1px solid #000000;
	padding: 10px;
	margin: 0 auto; 
}