<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">

    <title>
        {% block title %}
            PySnake
        {% endblock %}
	</title>

	<link rel="stylesheet" href="{{ url_for("static", filename="static/css/styles.css") }}">
	<link rel="icon" href="{{ url_for("static", filename="static/images/logo.png") }}" sizes="32x32">

	{% block links %}
	{% endblock %}

</head>
<body>
	<header class="header">
		<div class="headline">
			<p><img src="{{ url_for("static", filename="static/images/logo.png") }}"  alt="PySnake">Соревновательная Площадка</p>
		</div>
		<nav>
			<ul class="head-menu">
				<li><a href="{{ url_for("index_page") }}">Главная</a></li>

                {% if user and user.is_authenticated %}
				<li><a href="#">Игра</a>
					<ul class="submenu">

                        {% if game %}
                            <li><a href="/game/editor">Продолжить игру</a></li>
                        {% else %}
                            <li><a href="/game/connect">Играть</a></li>
                            <li><a href="/game/create">Создать комнату</a></li>
                        {% endif %}

						<li><a href="{{ url_for("top_page") }}">Таблица лидеров</a></li>
					</ul>
				</li>
                {% endif %}

				<li><a href="/game/demo">Записи Игр</a></li>

				<li class="left-bottom">

					{% if user and user.is_authenticated %}
					    <a href="{{ url_for("profile_page") }}"><img src="/templates/static/images/profile_stub.png" alt=" " class="small-profile_logo"> Аккаунт</a>
					    <ul class="submenu">
						    <li><a href="/profile/settings">Редактировать</a></li>
						    <li><a href="{{ url_for("logout_page") }}">Выход</a></li>
					    </ul>
                    {% else %}
                        <a href="{{ url_for("login_page") }}">Вход</a>
                    {% endif %}

				</li>
			</ul>
		</nav>
	</header>
	
	{% block content %}
	{% endblock %}

	<footer class="footer">
		<div class="footer-info">
			Проект был создан:
			<ul>
                <li><a href="https://github.com/Chevik08">Черных Никита</a> - Делал саму змейку</li>
                <li><a href="https://github.com/qpexlegendary">Терентьев Андрей</a> - Занимался backend разработкой</li>
                <li><a href="https://github.com/AlexandarViWE">Бочкарев Александр</a> - Занимался frontend разработкой</li>
			</ul>
			<a href="https://github.com/SibFU-SAN/pySnake">GitHub репозиторий проекта</a>
		</div>
	</footer>

</body>
</html>

