<!DOCTYPE html>
<html lang="ru">
<head> <!-- Этот файл шаблон -->
	<meta charset="UTF-8">
	<title>Соревновательная Площадка</title>
	<link rel="stylesheet" href="{{ url_for("static", filename="static/css/styles.css") }}">
	<link rel="icon" href="{{ url_for("static", filename="static/images/logo.png") }}" sizes="32x32">
	{% block links %}
	{% endblock %}
</head>
<body>
	<header class="header">
		<div class="headline">
			<p><img src="{{ url_for("static", filename="static/images/logo.png") }}" >Соревновательная Площадка</p>
		</div><!-- Лого / Название width=40pt-->
		<nav>
			<ul class="head-menu">
				<li><a href="/">Главная</a></li>
                {% if auth %}
				<li><a href="#">Игра</a>
					<ul class="submenu">
						<li><a href="/game/connect">Играть</a></li>
                        <li><a href="/game/create">Создать Сессию</a></li>
						<li><a href="/game/top">Лидеры</a></li>
					</ul>
				</li>
                {% endif %}
				<li><a href="/game/demo">Записи Игр</a></li>
				<li><a href="/help/guide">Справочник</a></li>

				<li class="left-bottom">
					{% if auth %}
					<a href="/login"><img src="/templates/static/images/profile_stub.png" alt=" " class="small-profile_logo"> Аккаунт</a>
					<ul class="submenu">
						<li><a href="/profile/settings">Редактировать</a></li>
						<li><a href="/profile/sign_out">Выход</a></li>
					</ul>
                    {% else %}
                    <a href="/login">Вход</a>
                    {% endif %}
				</li>
			</ul>
		</nav>
		<!-- main-menu -->
	</header>
	
	{% block content %}
	{% endblock %}

	<footer class="footer">
		<div class="footer-info">
			Проект был создан:
			<ul>
                <li><a href="https://github.com/Chevik08">Черных Никита</a> - Делал саму змейку</li>
                <li><a href="https://github.com/qpexlegendary">Терентьев Андрей</a> - Занимался backend разработкой</li>
                <li><a href="https://github.com/AlexandarViWE">Бочкарев Александр</a> - Занимался frontend разработкой</li>
			</ul>
		</div>
	</footer>

</body>
</html>

