{% extends "pages/base.html" %}

{% block content %}
	<main class="main centered-box">
		<form method="post" action="/game/editor" class="focus-block form-field">
			<h2>Создание Сессии Игры</h2>
			<p>
				<label>Время начала игры: <input type="time" name="start_time" id="start_time" required></label>
				<input type="date" id="datefield" name="datemax" required>
			</p>
			<p>
				<label>Длительность игры: <input type="number" name="d" id="d" min="5" max="60" step="5" value="5"> (min)</label>
			</p>
			<div class="form-menu centered-box">
				<input type="submit" value="Отправить" class="form-btn" >
			</div>
		</form>
	</main>

	<script>
function setMinDate() {
	let today = new Date();

	let dd = today.getDate();
	let mm = today.getMonth() + 1;
	let yyyy = today.getFullYear();
	if(dd<10){
		dd = '0' + dd;
	}
	if(mm<10){
		mm = '0' + mm;
	}
	let min_date = yyyy + '-' + mm + '-' + dd;
	document.getElementById("datefield").setAttribute("min", min_date);

  	today.setMonth(today.getMonth() + 1);
  	dd = today.getDate();
	mm = today.getMonth() + 1;
	yyyy = today.getFullYear();
	if(dd<10){
		dd = '0' + dd;
	}
	if(mm<10){
		mm = '0' + mm;
	}
  	let max_date = yyyy + '-' + mm + '-' + dd;
  	document.getElementById("datefield").setAttribute("max", max_date);
}

setMinDate();
	</script>
{% endblock %}
