{% extends "pages/base.html" %}

{% block links %}
	<script src="{{ url_for("static", filename="static/codemirror/lib/codemirror.js") }}"></script>
	<link rel="stylesheet" href="{{ url_for("static", filename="static/codemirror/lib/codemirror.css") }}">

	<script src="{{ url_for("static", filename="static/codemirror/mode/python/python.js") }}"></script>

    <style>
		.CodeMirror {
			border: 1px solid cornflowerblue;

			font-size: 14px;
			width: 90vw;
			min-height: 200px;
			resize: vertical;
        }
    </style>
{% endblock %}

{% block content %}
	<main class="main centered-box">
		<form method="post" action="#" class="focus-block form-field" id="game_form">
			<h2>Введите код для игры</h2>
			<p>
                Информация о будущей игре:
				<ul>
					<li>Режим: Змейка</li>
					<li>Число игроков: {{ game_data['players'] }}</li>
                    <li>Дальность видимости: {{ game_data['view_distance'] }}</li>
                    <li>Окончание игры: <span id="my_timer" style="color: #f00; font-weight: bold;">01:00:00</span></li>
				</ul>
			</p>

			<textarea name="game_code" cols="50" rows="10" id="code" class="textarea">{{ code }}</textarea>

			<div class="centered-box form-menu">
				<input type="submit" value="Сохранить код" class="form-btn" id="submit">
				<input type="reset" value="Очистить" class="form-btn" id="reset">
				<a target="_blank" rel="noopener noreferrer" href="https://github.com/SibFU-SAN/pySnake/wiki/%D0%9D%D0%B0%D0%BF%D0%B8%D1%81%D0%B0%D0%BD%D0%B8%D0%B5-%D0%B7%D0%BC%D0%B5%D0%B9%D0%BA%D0%B8" class="form-btn">Документация</a>
			</div>
		</form>

		<script type="text/javascript">

const timer_id_ = "my_timer";
setTime(timer_id_, 1000); // TODO: Вставь сюда!!!


			var myCodeMirror = CodeMirror.fromTextArea(document.getElementById('code'), {
				mode: {name: "python",
					   version: 3,
					   singleLineStringErrors: false},
				lineNumbers: true, 					// показывать номера строк
				matchBrackets: true, 				// подсвечивать парные скобки
				indentUnit: 4 						// размер табуляции
			});

			document.getElementById('submit').addEventListener( 'click', function() {
				console.log('Sending data');
				myCodeMirror.save();
				console.log(document.getElementById('code').value);
			})

			document.getElementById('reset').addEventListener( 'click', function() {
				console.log('Clear data');
				myCodeMirror.setValue("");
				myCodeMirror.clearHistory()
			})


// <p><span id="my_timer" style="color: #f00; font-weight: bold;">01:00:00</span></p>

function setTime(timer_id, timerContent) {
	var my_timer = document.getElementById(timer_id);
	var some_time = new Date(timerContent);

	var h = String(some_time.getHours());
	var m = String(some_time.getMinutes());
	var s = String(some_time.getSeconds());

	if (h.length == 1)
		h = '0' + h;

	if (m.length == 1)
		m = '0' + m;

	if (s.length == 1)
		s = '0' + s;

	var str_date = String(h + ":" + m + ":" + s);
    document.getElementById(timer_id).innerHTML = str_date;
	startTimer();
}

function startTimer() {
    var my_timer = document.getElementById(timer_id_);
    var time = my_timer.innerHTML;
    var arr = time.split(":");
    var h = arr[0];
    var m = arr[1];
    var s = arr[2];
    if (s == 0) {
      if (m == 0) {
        if (h == 0) {
          alert("Время вышло");
          window.location.reload();
          return;
        }
        h--;
        m = 60;
        if (h < 10) h = "0" + h;
      }
      m--;
      if (m < 10) m = "0" + m;
      s = 59;
    }
    else s--;
    if (s < 10) s = "0" + s;
    document.getElementById(timer_id_).innerHTML = h+":"+m+":"+s;
    setTimeout(startTimer, 1000);
}
		</script>
	</main>
{% endblock %}
