{% extends "pages/base.html" %}

{% block links %}
	<script src="{{ url_for("static", filename="static/codemirror/lib/codemirror.js") }}"></script>
	<link rel="stylesheet" href="{{ url_for("static", filename="static/codemirror/lib/codemirror.css") }}">

	<script src="{{ url_for("static", filename="static/codemirror/mode/python/python.js") }}"></script>

    <style>
		.CodeMirror {
			border: 1px solid cornflowerblue;

			font-size: 14px;
			width: 90vw;
			min-height: 200px;
			resize: vertical;
        }
    </style>
{% endblock %}

{% block content %}
	<main class="main centered-box">
		<form method="post" action="#" class="focus-block form-field" id="game_form">
			<h2>Введите код для игры</h2>
			<p>
                Информация о будущей игре:
				<ul>
					<li>Режим: Змейка</li>
					<li>Число игроков: {{ game_data['players'] }}</li>
                    <li>Дальность видимости: {{ game_data['view_distance'] }}</li>
                    <li>Окончание игры: {{ dt.datetime.utcfromtimestamp(game_data['end_time']).strftime('%H:%M:%S') }}</li>
				</ul>
			</p>

			<textarea name="game_code" cols="50" rows="10" id="code" class="textarea" required>{{ code }}</textarea>

			<div class="centered-box form-menu">
				<input type="submit" value="Отправить" class="form-btn" id="submit">
				<input type="reset" value="Очистить" class="form-btn" id="reset">
			</div>
		</form>

		<script type="text/javascript">
			var myCodeMirror = CodeMirror.fromTextArea(document.getElementById('code'), {
				mode: {name: "python",
					   version: 3,
					   singleLineStringErrors: false},
				lineNumbers: true, 					// показывать номера строк
				matchBrackets: true, 				// подсвечивать парные скобки
				indentUnit: 4 						// размер табуляции
			});

			document.getElementById('submit').addEventListener( 'click', function() {
				console.log('Sending data');
				myCodeMirror.save();
				console.log(document.getElementById('code').value);
			})

			document.getElementById('reset').addEventListener( 'click', function() {
				console.log('Clear data');
				myCodeMirror.setValue("");
				myCodeMirror.clearHistory()
			})
		</script>
	</main>
{% endblock %}
