{% extends "pages/base.html" %}

{% block links %}
	<link rel="stylesheet" href="{{ url_for("static", filename="static/css/account.css") }}">
{% endblock %}

{% block content %}
<main class="main centered-box">
	<section class="focus-block waiting-room">
		<h2>{{ game.name }}</h2>
		<h3>Информация о игре</h3>
		<div class="session-info">
			<table>
                <tr><td>Куратор:</td><td><a href="{{ url_for("other_profile_page", login=game.owner.login) }}">{{ game.owner.login }}</a></td></tr>
				<tr><td>Режим:</td><td>{{ constants.get_mode(game.mode) }}</td></tr>
                <tr><td>Статус:</td><td>{{ constants.get_status(game.status) }}</td></tr>
			</table>
			<table>
				<tr><td>Длительность:</td><td>{{ game.period }} мин</td></tr>
				<tr><td>Время начала:</td><td>12:00 - 10.10.2021</td></tr>
				<tr><td>Время конца:</td><td>12:45 - 10.10.2021</td></tr>
                <!-- TODO: Сделать нормально показ времени -->
			</table>
		</div>
		<div class="dashboard">
            {% if game.status == constants.HANDLED %}
			    <a href="{{ url_for("watch_page", game_id=game.id) }}" class="form-btn">Смотреть запись</a>
            {% elif game.status == constants.STARTED %}
                <a href="{{ url_for("join_page", game_id=game.id) }}" class="form-btn">Играть</a>
            {% endif %}
		</div>
	</section>
</main>
{% endblock %}