{% block content %}
<main class="main centered-box">
	<section class="focus-block waiting-room">
		<h2>Комната ожидания начал игры (id: <span>123132</span>)</h2>
		<h3>Инормация о игре</h3>
		<div class="session-info">
			<table>
				<tr><td>Колво участников:</td><td>1 / 44</td></tr>
				<tr><td>Размер карты:</td><td>44x44</td></tr>
			</table>
			<table>
				<tr><td>Длительность:</td><td>45 min</td></tr>
				<tr><td>Дата начала:</td><td>12:00 - 10.10.2021</td></tr>
				<tr><td>Дата начала:</td><td>12:45 - 10.10.2021</td></tr>
			</table>
		</div>
		<div class="dashboard">
			<p class="dashboard-info">Статус игры: <span id="game_status">Игра уже началась</span></p>
			<input type="button" value="В Бой!" class="btn"> <!-- Как сделать переход на другие страницы? -->
		</div>
	</section>
	<!--
	Статус игры:
	Игра уже началась
	Игра закончилась

	В Бой!
	Просмотр демо
	-->
</main>
{% endblock %}