{% extends "pages/base.html" %}

{% block content %}
	<main class="main centered-box">
		<section class="table-section">
			<table class="table">
				<caption>Таблица лидеров</caption>
				<tr><th>Имя</th><th>Лучший счет</th><th>Кол-во игр</th></tr>
				<tr><td>Валера</td><td>41</td><td>300</td></tr>
				<tr><td>Валера</td><td>22</td><td>300</td></tr>
				<tr><td>Валера</td><td>34</td><td>300</td></tr>
				<tr><td>Валера</td><td>42</td><td>300</td></tr>
				<tr><td>Валера</td><td>41</td><td>300</td></tr>
				<tr><td>Валера</td><td>22</td><td>300</td></tr>
				<tr><td>Валера</td><td>34</td><td>300</td></tr>
				<tr><td>Валера</td><td>42</td><td>300</td></tr>
				<tr><td>Валера</td><td>41</td><td>300</td></tr>
				<tr><td>Валера</td><td>22</td><td>300</td></tr>
			</table>
		</section>
	</main>
{% endblock %}
