{% extends "pages/base.html" %}

{% block links %}
	<link rel="stylesheet" href="{{ url_for("static", filename="static/css/account.css") }}">
{% endblock %}

{% block content %}
	<main class="main centered-box">
		<section class="InfoBlog">
			<div class="top-info">
				<img src="{{ url_for("static", filename="static/images/profile_stub.png") }}" class="profile_logo">
				<div class="short info-field">
                    {% if data['first_name'] and data['second_name'] %}
					    <p>{{ data['first_name'] }} {{ data['second_name'] }}</p>
                    {% else %}
                        <p>{{ data['login'] }}</p>
                    {% endif %}
				</div>
			</div>
			
			<div class="middle-info info-field">
				<div>
					<dl class="attrs">
                        {% if data['gender'] %}
						    <dt>Пол</dt>
							    <dd>{{ genders[data['gender']] if data['gender'] != -1 else "Не указан"}}</dd>
                        {% endif %}
					</dl>
				</div>
				<br>
                {% if data['about'] %}
				    <div>
					    <dl class="about">
						    <dt>О себе</dt>
							    <dd>{{ data['about'] }}</dd>
					    </dl>
				</div>
                {% endif %}
				<br>
				<div>
					<dl class="attrs">
						<dt>Побед</dt>
							<dd>{{ data['wins'] }}</dd>
						<dt>Всего игр</dt>
							<dd>{{ data['played_games'] }}</dd>
						<dt>Лучший счет</dt>
							<dd>{{ data['best_score'] }}</dd>
					</dl>
				</div>
			</div>

        {% if data['email'] %}
			<div class="bottom-info info-field">
				<dl class="attrs">
					<dt>E-mail</dt>
						<dd>{{ data['email'] }}</dd>
				</dl>
			</div>
        {% endif %}
		
		</section>
	</main>
{% endblock %}
