{% extends "pages/base.html" %}

{% block links %}
	<link rel="stylesheet" href="{{ url_for("static", filename="static/css/account.css") }}">
{% endblock %}

{% block content %}
	<main class="main centered-box">
		<section class="InfoBlog">
			<div class="top-info">
				<img src="{{ url_for("static", filename="static/images/profile_stub.png") }}" class="profile_logo" alt="Аватарка">
				<div class="short info-field">
                    <p>{{ target.login }}</p>
				</div>
			</div>
			
			<div class="middle-info info-field">
                {% if target.about != '' %}
				    <div>
					    <dl class="about">
						    <dt>О себе</dt>
							    <dd>{{ target.about }}</dd>
					    </dl>
				</div>
                <br>
                {% endif %}
				<div>
					<dl class="attrs">
						<dt>Побед</dt>
							<dd>{{ target.wins }}</dd>
						<dt>Всего игр</dt>
							<dd>{{ target.played }}</dd>
					</dl>
				</div>
			</div>
		
		</section>
	</main>
{% endblock %}
