{% extends "pages/base.html" %}

{% block links %}
	<link rel="stylesheet" href="{{ url_for("static", filename="static/css/account.css") }}">
{% endblock %}

{% block content %}
	<main class="main centered-box">
		<form method="post" action="/profile" class="focus-block form-field">
			<h2>ВХОД</h2>
			<p>
				<label>Логин <input type="text" name="login_in" id="login_in"></label>
			</p>
			<p>
				<label>Пароль <input type="password" name="password_in" id="password_in"></label>
			</p>
			<div class="form-menu">
				<input type="submit" value="Вход" class="form-btn">
            	<a href="/register" class="form-btn">Регистрация</a>
			</div>
		</form>
	</main>
{% endblock %}
