{% extends "pages/base.html" %}

{% block links %}
	<link rel="stylesheet" href="{{ url_for("static", filename="static/css/account.css") }}">
{% endblock %}

{% block content %}
	<main class="main centered-box">
		<form method="post" action="#" class="focus-block form-field">
			<h2>ВХОД</h2>
			<p>
				<label>Логин <input type="text" name="login" maxlength="20"></label>
			</p>
			<p>
				<label>Пароль <input type="password" name="password" maxlength="20"></label>
			</p>
			<div class="form-menu">
				<input type="submit" value="Вход" class="form-btn">
            	<a href="/register" class="form-btn">Регистрация</a>
			</div>

            {% if error %}
			<div class="lost-access">
				<p class="text-danger">{{ error }}</p>
			</div>
            {% endif %}
		</form>
	</main>
{% endblock %}
