{% block links %}
	<link rel="stylesheet" href="{{ url_for("static", filename="css/account.css") }}">
{% endblock %}

{% block content %}
	<main class="main centered-box">
		<form method="post" action="" class="focus-block form-field">
			<h2>РЕГИСТРАЦИЯ</h2>
			<p>
				<label>Логин <input type="text" name="login" id="login" required></label>
			</p>
			<p>
				<label>Пароль <input type="password" name="password" id="password" required></label>
			</p>
			<p>
				<label>Повторите пароль <input type="password" name="confirmation" id="confirmation" required></label>
			</p>
			<p><input type="submit" value="Регистрация"></p>
		</form>
	</main>
{% endblock %}
