{% extends "pages/base.html" %}

{% block links %}
	<link rel="stylesheet" href="{{ url_for("static", filename="static/css/account.css") }}">
{% endblock %}

{% block content %}
	<main class="main centered-box">
		<form method="post" action="#" class="focus-block form-field">
			<h2>РЕГИСТРАЦИЯ</h2>
            {{ form.csrf_token() }}
			<p>
                {{ form.login.label() }}
                {{ form.login() }}
			</p>
			<p>
				{{ form.password.label() }}
                {{ form.password() }}
			</p>
			<p>
				{{ form.confirmation.label() }}
                {{ form.confirmation() }}
			</p>
			<div class="form-menu">
				<input type="submit" value="Регистрация" class="form-btn">
				<a href="{{ url_for("login_page") }}" class="form-btn">У меня уже есть аккаунт</a>
			</div>

            {% if error %}
			<div class="lost-access">
				<p class="text-danger">{{ error }}</p>
			</div>
            {% endif %}
		</form>
	</main>
{% endblock %}
