{% extends "pages/base.html" %}

{% block links %}
	<link rel="stylesheet" href="{{ url_for("static", filename="static/css/account.css") }}">
{% endblock %}

{% block content %}
	<main class="main centered-box">
		<section>
			<form method="post" action="/profile" class="focus-block form-field">
				<h2>Именение профиля</h2>
				<div>
					<!-- TODO: добавить поле для изменения иконки профиля -->
					<p><label>Иконка <input type="file" name="logo" accept="image/*,image/jpeg"></label></p>
				</div>
				<div>
					<!-- TODO: При редактировании в поля должны вставляться старые данные (value) -->
					<p><label>Имя <input type="text" name="FirstName" required value=""></label></p>
					<p><label>Фамилия <input type="text" name="LastName" required value=""></label></p>
					<p>
						<label>Пол
							<select name="gender">
								<option value="0">М</option>
								<option value="1">Ж</option>
							</select>
						</label>
					</p>
					<p><label>E-mail <input type="email" name="email" value=""></label></p>
					<p><label>Телефон <input type="tel" name="text" pattern="[7-8][0-9]{10}" value=""></label></p>
				</div>
				<div>
					<p>О себе:</p>
					<p><textarea name="about" maxlength="512"></textarea></p>
				</div>
				<br>
				<div class="form-menu">
					<input type="submit" value="Изменить" class="form-btn"> <!-- TODO: Добавить возможность изменять данные профиля -->
					<a href="#" class="form-btn">Отмена</a> <!-- TODO: Добавить ссылку на профиль -->
				</div>
			</form>
		</section>
	</main>
{% endblock %}
