.InfoBlog {
	border-radius: 20px;
	background: red;
	border: 1px solid #000000;
	padding: 10px;
	margin: 0 auto;
	max-width: 60%;
}

.InfoBlog p{
	padding: 0;
	margin: 0 auto;
}

.info-field{
	margin-bottom: 10px;
	margin-top: 10px;
	background: #fafafa;
	border: 1px solid #000000;
	
}

.info-field .short-info{
	
}

.info-field .full-info{

}

.info-field .links-info{

}

/* Повторяющийся код (скопирован с другого css) */
.form-field {
}
.form-field h2 {
	text-align: center;
	font-weight: normal;
	margin: 0 0 32px 0;
}
.form-field p {
	margin: 0 auto;	
	margin-top: 5px;
}
.form-field input {
	display:inline-block;
	margin: 10px;
	padding:3px;
	border-radius:10px;
	border: 1px solid #eee;
	transition: .3s border-color;
}
.form-field input {
	padding: 10px;
}
.form-field input:hover {
	border: 1px solid #aaa;
}	
.form-field textarea{
	width: 500px;
	min-height: 200px;
	resize: vertical;
}
/* Повторяющийся код (скопирован с другого css) */
